.container-home {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Larger column takes 2/3, smaller takes 1/3 */
    grid-gap: 20px;
  }

  .left-sidebar-home{
    width: 39vh;
    height: 81.5vh; /* Set the sidebar height to 100% of the viewport height */
    padding: 20px;
    background-color: #F0F0F0;
    position: fixed; /* Set the sidebar to a fixed position */
    top: 12%;
    left: 0.2%;
  }
  
  .main-content-home {
    width: 107vh;
    padding: 20px;
    background-color: #f0f0f0;
    overflow-y: auto;
    margin-top: 90px;
    margin-right: 350px;
    margin-left: 360px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .right-sidebar-home {
    width: 35vh;
    height: 81.5vh; /* Set the sidebar height to 100% of the viewport height */
    padding: 20px;
    background-color: #F0F0F0;
    position: fixed; /* Set the sidebar to a fixed position */
    top: 12%; /* Stick to the top of the viewport */
    left: 80%; /* Stick to the left of the viewport */
  }

  .post-home {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  
  .post-header-home {
    display: flex;
    align-items: center;
  }
  
  .person-image-home {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-info-home {
    flex: 1;
    /* position: relative; */

  }
  
  .post-image-home {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .like-and-count{
    /* margin-right: 40vh; */
    color: #8CD6B1;
    width: 100px;
    display: flex;
    align-items: center;
    margin-top: 0vh;
    margin-left: 90vh;
    display: inline-block;
    /* background-color: #010101; */
  }
  .counting-like{
    color: #010101;
    font-weight: normal;
    font-size: 15px;
  } 
  .like-button {
    transition: transform 0.2s ease-in-out;
  }
  
  .like-button.liked {
    animation: shake 0.5s ease-in-out;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }
  
  .button-home {
    background-color: #8CD6B1;
    color: #010101;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform .2s;
  }

  button:hover{
    transform: scale(1.2);
  }


  .btn-sidebar-home{
    position: fixed;
    top: 90%;
    left: 84%;
  }

  .interest-home{
    padding-left: 40px;
    color: rgb(21, 20, 20);
  }

  .selected-interests-home {
    list-style: none;
    padding: 0;
  }
  
  .remove-icon-home {
    cursor: pointer;
    color: red;
    margin-left: 5px;
  }
  
  .remove-icon-home:hover {
    color: darkred;
  }
  
  @media (max-width: 768px) {
    .left-sidebar-home{
      display: none;
    }
    .main-content-home {
      width: 120%;
      margin-left: 30px;
    
    }
    .right-sidebar-home {
      display: none;
    }
    .interest-home{
      padding-left: 0px;
    }
  }

  @media (max-width: 600px) {
    .left-sidebar-home{
      display: none;
    }
    .main-content-home {
      width: 115%;
      margin-left: 15px;
      
    
    }
  }