.popup-container{
    width: 55vh;
    height: 40vh;
    position: fixedyy;
    left: 23%;
    top: 0px;
    z-index: 4;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #8cd6b1;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}

.close-button{
    background-color: #8F8B8B;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    height: 40px;
    width: 80px;
    transition: transform .2s;
}

.popup-img{
    height: 25px;
    transition: transform .2s;
    border-radius: 12px;
    vertical-align: middle;
    
}


table {
    border-collapse: separate;
    border-spacing: 7px 10px;
  }

.star{
    background-color: rgb(220, 220, 52);
    width: 25px;
    text-align: center;
    font-weight: 700;
    border-radius: 4px;
}


.close-button:hover{
   transform: scale(0.8);
}
@media screen and (min-width: 320px) and (max-width: 760px) {
  
    .popup-container{
      left: 17%;
    }

 }